@charset "UTF-8";

/* 
Typical Device Breakpoints
---------------------------------
    DISPOSITIVO       MAX-WIDTH
---------------------------------
⭐ Mobile Mini           320px
📱 Mobile Pequeno	       480px
📱 Mobile Médio	         576px
📱 Mobile Grande	       768px
📲 Tablet               1024px
💻 Desktop Médio        1280px
🖥️ Desktop Grande	     1440px
📺 4K / Ultra-Wide	    2560px+ 
---------------------------------
*/

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  #login {
    width: 80vw;
  }

  #imagem {
    float: left;
    width: 30%;
    height: 100%;
    margin: 0;
  }

  #formulario {
    float: right;
    width: 70%;
  }

  h1 {
    margin: 40px 0;
  }

  p {
    margin: 30px 0;
  }

  input[type=submit] {
    margin: 40px 0;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {

  #login {
    width: 850px;
  }

  #imagem {
    float: right;
    width: 30%;
    height: 100%;
    margin: 0;
  }

  #formulario {
    float: left;
    width: 50%;
  }

  h1 {
    font-size: 1.5em;
    margin: 40px 0;
  }
  
  p {
    font-size: 1.1em;
    margin: 30px 0;
  }

  input[type=submit] {
    margin: 40px 0;
  }
}