/* Quarto Projeto - by Isabelli Cristina Mocci */


/*----------------------------------------------
Índice   
------------------------------------------------
01. charset type
02. global var
04. reset
05. main style
06. form style
07. img config
--------------------------------------------- */

/* 
---------------------------------------------
01. charset type
--------------------------------------------- 
*/
@charset "UTF-8";

/* 
---------------------------------------------
03. global var
--------------------------------------------- 
*/
:root {
  /* Paleta de cores */
  --color-principal: #70D5E0;
  --color-secundaria: #70B2E0;
  --color-text: #222;

  /* Tipografia */
  --font-family: 'Poppins', sans-serif;
}

/* 
---------------------------------------------
04. reset
--------------------------------------------- 
*/

