/* Quarto Projeto - by Isabelli Cristina Mocci */


/*----------------------------------------------
Índice   
------------------------------------------------
01. charset type
02. global var
03. reset
04. img config
05. form style
--------------------------------------------- */

/* 
---------------------------------------------
01. charset type
--------------------------------------------- 
*/
@charset "UTF-8";

/* 
---------------------------------------------
02. global var
--------------------------------------------- 
*/
:root {
  /* Paleta de cores */
  --color-principal: #70D5E0;
  --color-secundaria: #70B2E0;
  --color-text: #222;

  /* Tipografia */
  --font-family: 'Poppins', sans-serif;
}

/* 
---------------------------------------------
03. reset
--------------------------------------------- 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family)
}

html,
body,
main {
  width: 100vw;
  height: 100vh;
}

html,
body {
  background: linear-gradient(to right, #414345, #232526);
  -webkit-linear-gradient(to right, #414345, #232526);
}

main {
  position: absolute;
}

/* 
---------------------------------------------
04. img
--------------------------------------------- 
*/
#imagem {
  display: block;
  background: url('../img/astronauta.png') no-repeat;
  background-size: contain;
  height: 140px;
}

/* 
---------------------------------------------
05. form style
--------------------------------------------- 
*/
#login {
  position: relative;
  width: 250px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;
  background-color: white;
  box-shadow: 1px 1px 10px 2px #00000086;
  border-radius: 30px;
}

#formulario {
  display: block;
  padding: 10px;
}



