/* Quarto Projeto - by Isabelli Cristina Mocci */


/*----------------------------------------------
Índice   
------------------------------------------------
01. charset type
02. global var
03. reset
04. img config
05. form style
--------------------------------------------- */

/* 
---------------------------------------------
01. charset type
--------------------------------------------- 
*/
@charset "UTF-8";

/* 
---------------------------------------------
02. global var
--------------------------------------------- 
*/
:root {
  /* Paleta de cores */
  --color-principal: #00bbcf;
  --color-secundaria: #70B2E0;
  --color-text: #222;

  /* Tipografia */
  --font-family: 'Poppins', sans-serif;
}

/* 
---------------------------------------------
03. reset
--------------------------------------------- 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family)
}

html,
body,
main {
  width: 100vw;
  height: 100vh;
}

html,
body {
  background: linear-gradient(to right, #414345, #232526);
  -webkit-linear-gradient(to right, #414345, #232526);
  overflow-x: hidden;
}

main {
  position: absolute;
}

/* 
---------------------------------------------
04. img
--------------------------------------------- 
*/
#imagem {
  display: block;
  background: url('../img/astronauta.png') no-repeat center center;
  background-size: contain;
  height: 140px;
  margin-top: 25px;
}

/* 
---------------------------------------------
05. form style
--------------------------------------------- 
*/
#login {
  position: relative;
  width: 265px;
  height: 500px;
  top: 50%;
  left: 50%;
  

  overflow: hidden;
  background-color: white;
  box-shadow: 1px 1px 10px 2px #00000086;
  border-radius: 30px;
  text-align: center;
  transition: all .3s ease;
  transform: translate(-50%, -50%);
}

.material-symbols-outlined {
  margin-left: px;
  color: white;
  font-size: 32px;
}

#formulario {
  display: block;
  padding: 10px;
}

h1 {
  text-align: center;
  margin-top: 15px;
  color: rgb(204, 65, 65);
}

p {
  font-size: 0.8em;
  margin: 15px 0;
}

.campo {
  background-color: var(--color-principal);
  border-radius: 8px;
  height: 40px;
  margin: 5px 0;
  border: 2px solid var(--color-principal);
}

label {
  display: none;
}

input {
  background-color: aliceblue;
  font-size: 1em;
  width: calc(100% - 29px);
  height: 100%;
  border: none;
  border-radius: 8px;
  padding: 10px;
  transform: translateY(-1px);
}

input:focus {
  border: 1px solid #1c93a38e;
  outline: none;
}

input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: var(--color-principal);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 25px 0;
}

input[type=submit]:hover {
  background-color: #17afc0cc;
}

a {
  display: block;
  text-align: center;
  font-size: .8em;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-secundaria);
}

a:hover {
  text-decoration: underline;
}