/* Primeiro Projeto - by Isabelli Cristina Mocci */


/*----------------------------------------------
Índice   
------------------------------------------------
01. charset type
02. font import
03. global var
04. reset
05. header style
06. navbar style
07. main style
08. img config
09. video style
10. aside style
11. footer

--------------------------------------------- */

/* 
---------------------------------------------
01. Charset type
--------------------------------------------- 
*/
@charset "UTF-8";
/* 
---------------------------------------------
02. Font import
--------------------------------------------- 
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../files/fonts/idroid.otf) format('opentype');
}

/* 
---------------------------------------------
03. Global Var
--------------------------------------------- 
*/
:root {
    /* Paleta de cores */
    --color-verdeclarissimo: #c5ebd6;
    --color-verdeclaro: #83e1ad;
    --color-verdemedio: #3ddc84;
    --color-verdepadrao: #2fa866;
    --color-verdeescuro: #063d1e;

    /* Tipografia */
    --font-family-padrão: Arial, Helvetica, sans-serif;
    --font-family-destaque: 'Bebas Neue', cursive;
    --font-family-android: 'Android', cursive;
}

/* 
---------------------------------------------
04. Reset
--------------------------------------------- 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-verdeclarissimo);
    font-family: var(--font-family-padrão);
}

h1,
h2 {
    font-family: var(--font-family-android);
}

.externo::after {
    content: '\00A0\1F517';
}

/*
---------------------------------------------
05. Header Style
--------------------------------------------- 
*/

header {
    background: linear-gradient(180deg, rgba(47, 168, 102, 1) 0%, rgba(6, 61, 30, 1) 71%);
    min-width: 150px;
    text-align: center;
    padding-top: 40px;
    font-size: 1.1em;
}

header h1 {
    font-family: var(--font-family-destaque);
    font-size: 2.8em;
    font-weight: normal;
}

header h1,
header p {
    text-shadow: -1px 3px 6px rgba(0, 0, 0, 0.534);
    margin-bottom: 40px;
    color: white;
}

/* 
---------------------------------------------
06. Navbar Style
--------------------------------------------- 
*/

nav {
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    border-radius: 2.5px;
    padding: 10px;
    color: var(--color-verdeclarissimo);
    background-color: var(--color-verdeescuro);
    transition-duration: .7s;
}

nav a:hover {
    background-color: var(--color-verdepadrao);
    color: var(--color-verdeescuro);
}

/* 
---------------------------------------------
07. Main Style
--------------------------------------------- 
*/
main {
    background-color: mintcream;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px;
    text-align: justify;
    line-height: 2em;
}

h1 {
    color: var(--color-verdeescuro);
    font-size: 1.8em;
    margin: 10px 0 15px 0;
    font-weight: normal;
}

h2 {
    color: var(--color-verdeescuro);
    text-indent: 8px;
    font-size: 1.3em;
    margin: 15px 0 15px 0;
    background: linear-gradient(to right, var(--color-verdeclarissimo), transparent);
    font-weight: normal;
}

p {
    text-indent: 30px;
}

a {
    color: var(--color-verdeescuro);
    background-color: var(--color-verdeclaro);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: var(--color-verdeescuro);
    font-weight: bold;
}

/* 
---------------------------------------------
08. Img Config
--------------------------------------------- 
*/

img {
    width: 100%;
}

img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

/* 
---------------------------------------------
09. Video Style
--------------------------------------------- 
*/

.video {
    position: relative;
    background-color: var(--color-verdeescuro);
    height: 0px;
    margin: 0 -20px 15px -20px;
    padding-bottom: 59%;
}

iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* 
---------------------------------------------
10. Aside Style
--------------------------------------------- 
*/

aside {
    background-color: var(--color-verdeclaro);
    border-radius: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.280);
}

aside p {
    margin: 10px;
}

h3 {
    color: white;
    background-color: var(--color-verdeescuro);
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

ul {
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    columns: 2;
    margin-left: 80px;
}

/* 
---------------------------------------------
11. Footer
--------------------------------------------- 
*/

footer {
    background-color: var(--color-verdeescuro);
    color: white;
    text-align: center;
    font-size: 0.9em;
    padding: 8px;
}

footer a {
    background-color: var(--color-verdeescuro);
    color: white;
}