/*----------------------------------------------
Índice   
------------------------------------------------
01. charset type
02. font import
03. global var
04. reset
05. header style
06. main style
07. img config
08. footer
--------------------------------------------- */

/* 
---------------------------------------------
01. charset type
--------------------------------------------- 
*/
@charset "UTF-8";

/* 
---------------------------------------------
02. font import
--------------------------------------------- 
*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/* 
---------------------------------------------
03. global var
--------------------------------------------- 
*/
:root {
    /* Paleta de cores */
    --color-header: #222222;
    --color-main: #f4f4f4;
    --color-text: #444;
    --color-link: #008080;
    --color-hover: #00b3b3;

    /* Tipografia */
    --font-family-autor: Verdana, sans-serif;
    --font-family-cordel: 'Sriracha', cursive;
    --font-family-destaque: 'Passion One', cursive;
}

/* 
---------------------------------------------
04. reset
--------------------------------------------- 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

html,
body {
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: var(--color-main);
    color: var(--color-text);
    line-height: 1.6;
}

/* 
---------------------------------------------
05. header style
--------------------------------------------- 
*/
header {
    background-color: var(--color-header);
    color: white;
    text-align: center;
    padding: 3rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: var(--font-family-destaque);
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-family: var(--font-family-autor);
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--color-link);
    transition: color 0.3s;
}

a:hover {
    color: var(--color-hover);
    text-decoration: underline;
}

/* 
---------------------------------------------
06. main style
--------------------------------------------- 
*/
main {
    padding: 3rem 2rem;
}

section {
    padding: 3rem 1rem;
    margin-bottom: 2rem;
}

.standard {
    background-color: #fefefe;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

p {
    font-family: var(--font-family-cordel);
    font-size: 1.2rem;
    color: var(--color-text);
    line-height: 1.8;
}

/* 
---------------------------------------------
07. image config
--------------------------------------------- 
*/
.image {
    background-color: var(--color-header);
    color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image p {
    background-color: rgba(0, 0, 0, 0.6);
    color: #f4f4f4c9;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#img01 {
    background-image: url(../files/img/background001.jpg);
}

#img02 {
    background-image: url(../files/img/background002.jpg);
}   

/* 
---------------------------------------------
08. footer
--------------------------------------------- 
*/
footer {
    background-color: var(--color-header);
    color: white;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

footer a {
    color: var(--color-link);
    transition: color 0.3s;
}

footer a:hover {
    color: var(--color-hover);
    text-decoration: underline;
}